
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <div class="spinner" >
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <p style="color: white">Please Wait. </p>  
    </div>
    
    </ngx-spinner>    
    <div class="layer-bg">
        <div class="layer-inner">
            <div class="layer-image"></div>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center align-content-center">
                <div class="col-lg-4 col-md-6">
                    <h3 class="card-header mb-3">Login</h3>
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="mb-5">
                                    <label class="form-label">Username</label>
                                    <input type="text" formControlName="username" class="form-control-input"  />
                                   
                                </div>
                                <div class="mb-5">
                                    <label class="form-label">Password</label>
                                    <input type="password" formControlName="password" class="form-control-input"  />
                                   
                                </div>
                                <div class="text-center">
                                    <button  class="btn btn-theme text-center">
                                        <!-- <span  class="spinner-border spinner-border-sm me-1"></span> -->
                                        Login
                                    </button>
                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
