<div class="sidebar-container">
  <mat-sidenav-container  class="sidebar-sidenav-container">
    <mat-sidenav #snav mode="side" fixedTopGap="56" opened="true">
      <app-side-navbar></app-side-navbar>
    </mat-sidenav>
    <mat-sidenav-content class="router-container">
      <mat-toolbar class="justify-content-between"  color="primary">
        <div class="col-lg-3">
          <button mat-icon-button (click)="snav.toggle()" matTooltip="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        </div>
        <div class="col-lg-9 text-end">
          <div>
          
          <span >Welcome - {{userName}} , {{userRole}}</span>
          </div>
          <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
          
          <button mat-icon-button matTooltip="Notifications">
              <mat-icon>notifications</mat-icon>
          </button>
        </div>
        
        
        <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
            
            
            <button (click)="onLogOutClick()"mat-menu-item routerLink="#">
                <mat-icon>exit_to_app</mat-icon>Logout
            </button>
        </mat-menu>
    </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
 <!--  <mat-toolbar color="primary" class="sidebar-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="sidebar-app-name">Sidenav App</h1>
    <app-header></app-header>
  </mat-toolbar> -->
</div>