<mat-nav-list class="side-navnar">
    <div class="my-4 mx-3">
        <!-- <span class="mail-box"><img src="https://img.freepik.com/free-vector/illustration-businessman_53876-5856.jpg?w=826&t=st=1711602644~exp=1711603244~hmac=04935bdaf0766c453933d066c180333fe40c2ba62208d1ac53ada1036a12b7fc" width="125" alt="logo"></span>  -->
    </div>
    <ng-container *ngFor="let menu of roleMenu ; index as i;">
        <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
            [ngTemplateOutletContext]="{menu:menu}">
        </ng-container>
    </ng-container>
   
</mat-nav-list>

<ng-template #parentMenu let-menu="menu">
    <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
        true}">
        <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
    </mat-list-item>
</ng-template>

<ng-template #childMenu let-menu="menu">
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}}
        </mat-expansion-panel-header>
        <mat-nav-list>
            <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
                true}">
                <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}}
            </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template>